html, body {
    height: 100%;
    width: 100%;
    min-width:1170px;
}
body {
  background-color:#fff;
  padding:0;
  font-family: "Roboto";
  font-size: 16px;
  background:url(/themes/business/gfx/background.png) no-repeat top center;
}
body.printPage {text-align:left}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}

/****************************************/
#wrap {
  background: url(/themes/business/gfx/pattern.png) repeat 0 0;
    border:none;
    height: auto !important;
    margin: 0 auto 125px auto;
    min-height: 100%;
    padding: 0;
    position: relative;
    min-width:1170px !important;
}

#main {
    clear: both;
    padding: 0 0 85px;
}



#head {height: 160px; /*padding: 35px 23px 23px 35px;*/ margin:0; position: relative; overflow:hidden;}
#head div {display:inline;}
#head .logo {margin-top:5px; height: 140px; overflow: hidden; padding:0 0 0 15px;//width: 180px;}
#head .logo img {border: 0 none;}
#head .logos { margin-top: 10px; }
#head .logos img { margin-right: 20px;}
#head .cname {color: #333333; font: 25px Arial; margin-top:10px;}
#head .cname p {color: #999999; font: 16px Arial; margin-top: 3px; padding: 0;}
#head .tright {margin-top:10px; overflow: hidden; //margin-left: 15px;float:right;}

#head .tright .numbers .phone {margin-bottom: 15px;}
#head .tright .numbers .location {margin-bottom: 15px;}
#head .tright .numbers .email {padding-left: 25px;}
#head .tright .numbers p { font-weight: 300; margin: 2px; padding-left: 25px;}
#head .tright .numbers a { font-weight: 300;}
#head .tright .numbers .icon {float: left; color: #008fcf;}
#head .tright .numbers p strong {font: 20px Arial; margin: 0; padding: 0;}

/*#content.main {display: none;}*/

#footer {padding:20px 15px; height:85px; margin: -125px auto 0; position: relative;border-top: 1px solid #666;}
#footer .logo img {width:100px}
img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

#cvek {width:82px; height:24px; overflow:hidden; margin-left: 5.3em;}
#cvek a, #cvek a:link, #cvek a:visited {
  background-image:url(/themes/business/gfx/cvek_logo.png);
  background-repeat:no-repeat;
  background-position:0 0;
  text-indent:-500px;
  display:block;
  overflow:hidden;
  width:82px;
  height:24px;
  transition-property:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
}
#cvek a:hover {background-position:0 -26px}

#text_body {

}

.container {min-width: 1170px !important;}

#container {
	margin:0 15px;
}
#content {

}
#sidebarLeft, #sidebarRight {margin-top: 25px;}
.block .inside {padding: 10px 25px 0;}



table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {padding: 8px 0; position: relative; border:1px solid #eee}
.b-menu-side-list ul {list-style: none;}
.b-menu-side-list li {font-size:18px}
.b-menu-side-list .nav-list  li  a {padding:10px 15px}
.b-menu-side-list .nav-list .nav-list  li  a {padding:8px 15px}
.b-menu-side-list .nav-list .nav-list .nav-list  li  a {padding:6px 15px}
.b-menu-side-list li li {font-size:16px;}
.b-menu-side-list .nav-list .nav-list > .active > a {background:none; color:#000}
.b-menu-side-list li li li {font-size:14px;}
.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {background:none; font-weight:bold; color:#000}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{background:#23b6e3;}
.dropdown-menu, .dropdown-menu>li>a {color:#fff;background:#23b6e3;}
.dropdown-menu>li>a {padding:5px 20px;}


.b-menu-top {
  //padding:0 5px;
  background-color: #47c5e9;
  margin-bottom:20px;
  overflow:inherit;
  border-radius: 0;
  border:none;
  height: 42px;
  min-height: 0;
}

.navbar-default .navbar-nav>.active>a:hover{
  background-color: #008fcf;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #23b6e3;
  padding: 10px;
  font-size: 20px;
}
.b-menu-top .nav-collapse:after {clear:both; content: ""; display: table; line-height: 0;}
.b-menu-top .pull-right {margin-top:4px; margin-bottom:0}
.b-menu-top .dropdown-menu .caret {display:none}

.wShare{margin:0}
.wShare td{text-align:left;}

.b-ajax-process {background:url(../../../ngin/assets/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:text-top;}
.b-ajax-process-active {visibility:visible;}

.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}
#back-top {
    display: none;
}
#back-top { font-size: 20px;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.3; 
    position: fixed;
    top: 0; 
    height:100%; cursor: pointer;
    width: 40px;
}
#back-top:hover{ opacity: 0.9;  background:#F0F0F0;}
#back-top span{display:block; padding:10px}

/*markup.*/
.b-about { margin: 40px 0;padding-left:0px;}
.b-about .b-about-img { //margin-right: 30px; padding-left:0px;display:inline-block;}
.b-about .b-about-text {display:inline-block;vertical-align: top;}
.b-about .b-about-text h1 {margin-top: 0;}
.b-about .b-about-text .big { font-size: 20px;}

.b-services { overflow: hidden; margin: 40px 0 20px;padding:0;}
.b-services .col-md-4 {min-width:382px;max-width:382px;}
.b-services .row:first-child {margin-bottom: 50px;}
.b-services .b-services-item {text-align: center;display:inline-block;vertical-align:top;}
.b-services .b-services-item p {text-align: left;}
.b-services .b-services-item img {margin-bottom: 20px;}

.b-adresses {margin: 40px 0 0;padding:0;}
.b-adresses .b-adresses-title {text-align: center; margin-bottom: 40px;}
.b-adresses .b-adresses-item {display:inline-block;}
.b-adresses .col-md-4 {min-width:382px;max-width:382px;}
.b-adresses .b-adresses-item-img {margin-bottom: 20px;}

table.price-table {
}

table.price-table td {
	border:1px solid #fff;
	padding:10px;
}

table.price-table tr:nth-child(2n+1) td {
	
	background:#f5f5f5;
}

table.price-table tr:first-child td {
	background-color: #47c5e9;
	border:1px solid #fff;
	color: #fff;
}

table.price-table tr td:first-child {
	display:none;
}

table.price-table tr td:nth-child(3n),table.price-table tr td:nth-child(4n) {
	text-align:center;
}

.b-map {
	width:100%;
	height:200px;
	margin-bottom:20px;
}

.b-map__big {
	width:100%;
	height:200px;
	margin-bottom:20px;
}

.navbar-nav>li>a {
	padding:10px 20px !important;
	line-height:21px;
	color:#fff !important;
}

.navbar-nav>li>a:hover {
	color:#fff !important;
}

.col-md-6 {min-width:562px;max-width:562px;}
.col-md-5 {min-width:487px;max-width:487px;}
.col-md-4 {min-width:390px;max-width:390px;}
.col-md-3 {min-width:292px;max-width:292px;}
.col-md-2 {min-width:180px;max-width:180px;}


.b-horizontal-menu {
	padding-left:15px;
}

ul.b-horizontal-menu-ul {
	margin:0;
	padding:0;
}

ul.b-horizontal-menu-ul li {
	list-style:none;
	display:inline-block;
	margin:0;
}

ul.b-horizontal-menu-ul>li>a {
	padding:10px 20px !important;
	line-height:42px;
	color:#fff !important;
	text-decoration:none;
	font-size:16px;
}

ul.b-horizontal-menu-ul>li>a:hover {
	color:#fff !important;
}

ul.b-horizontal-menu-ul>li.active,

ul.b-horizontal-menu-ul>li:hover {
background:#23b6e3;
}

.dropdown-menu li {
	width:100%;
}

#footer .col-md-6, #footer .col-md-2, #footer .col-md-5 {display:inline-block;}


table.price-table-2 td {
    border:1px solid #fff;
    padding:10px;
}

table.price-table-2 tr:nth-child(2n+1) td {

     background:#f5f5f5;
 }

table.price-table-2 tr:first-child td {
    //background-color: #47c5e9;
    //border:1px solid #fff;
   // color: #fff;
}

table.price-table-2 tr td:nth-child(3n),table.price-table-2 tr td:nth-child(4n) {
    text-align:center;
}